[user]
	email = PythonNut@users.noreply.github.com
	name = PythonNut
[github]
	user = PythonNut
[color]
	ui = auto
[credential]
	helper =
	helper = cache --timeout 86400
[diff]
	mnemonicprefix = true
	renames = copies
	algorithm = histogram
[rerere]
	enabled = true
