# whitelist for usb autosuspend
# ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="04f3", ATTR{idProduct}=="20d0", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
