SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/su pythonnut -c 'XDG_RUNTIME_DIR=/run/user/$UID systemctl --user stop rslsync'"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/su pythonnut -c 'XDG_RUNTIME_DIR=/run/user/$UID systemctl --user start rslsync'"
